<% include partials/header %>

<h1>This is the register page</h1>

<form action="/register" method="POST">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button class="btn btn-success">Sign Up!</button>
</form>

<% include partials/footer %>